---
import Layout from '../layouts/Layout.astro';

import feeEarners from '../data/feeEarners.json';
export const prerender = false;

const pageTitle = "Redirecting to SME Solicitors website";

---

<Layout pageTitle={pageTitle}>
  <ul>
    {feeEarners.map(feeEarner => (
      <li>
        <a href={`/${feeEarner.profileURL}`}>{feeEarner.firstName} {feeEarner.lastName}</a>
      </li>
    ))}
  </ul>
  <meta http-equiv="refresh" content="0; url=https://www.smesolicitors.co.uk/">
</Layout>
