---
import Layout from '../layouts/Layout.astro';
import feeEarners from '../data/feeEarners.json';

const pageTitle = "Redirecting to SME Solicitors website";
---

<Layout pageTitle={pageTitle}>
  <ul>
    <!-- {feeEarners.map(feeEarner => (
      <li>
        <a href={`/${feeEarner.profileURL}`}>{feeEarner.firstName} {feeEarner.lastName}</a>
      </li>
    ))} -->
  </ul>
  
</Layout>
