---
import { Image } from "astro:assets";
import bgImage from "../assets/bg-img.webp";
import logoImage from "../assets/logo.svg";
import logoImageDark from "../assets/logo_dark.svg";
---

<body
  class="bg-white md:bg-blue-50 dark:bg-smenavy-900 md:min-h-screen grid md:grid-cols-2 font-inter">
  <section
    class="w-full h-10 hidden md:flex items-center justify-center md:h-screen md:bg-transparent">
    <div class="hidden md:block">
      <Image
        src={bgImage}
        alt="Picture of the SME Solicitors office"
        class="h-screen mx-auto object-cover"
      />
    </div>
  </section>
  <section
    class="flex md:justify-items-center top-0 lg:items-center justify-center min-h-screen md:p-4 object-scale-down">
    <div
      class="z-10 justify-between md:rounded-xl md:shadow-2xl transition-all duration-300 animate-fade-in md:h-auto h-screen w-screen md:max-w-md">
      <div class="items-center">
        <!-- Image Section -->
        <div
          class="items-center text-center align-middle bg-linear-to-b from-smemint-50 to-smemint-100 dark:from-smenavy-800 dark:to-smenavy-700 w-full h-auto p-8 md:rounded-t-xl">
          <img src={logoImage.src} alt="SME Solicitors logo" class="w-60 h-60 mx-auto object-scale-down dark:hidden" />
          <img src={logoImageDark.src} alt="SME Solicitors logo" class="w-60 h-60 mx-auto object-scale-down hidden dark:block" />
        </div>

        <!-- Profile Section -->
        <div
          class="items-center text-center w-full p-8 grow h-full bg-white dark:bg-smenavy-800">
          <h2
            class="text-smenavy-500 dark:text-smenavy-50 text-3xl font-bold font-generalSans">
            Providing personal and proactive legal solutions since 1840.
          </h2>

          <ul
            class="mt-5 rounded-2xl border-2 border-smemint-500 bg-smemint-100 dark:bg-smenavy-700 dark:border-smenavy-600 text-left">
            <div
              class="border-b-2 border-smemint-500 dark:border-smenavy-600 p-4">
              <li class="flex">
                <div
                  class="rounded-full align-middle text-center bg-smenavy-500 dark:bg-smenavy-500 p-3 mr-3 w-fit h-fit">
                  <svg
                    class="w-6 h-6"
                    viewBox="0 0 73 52"
                    version="1.1"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    xml:space="preserve"
                    style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
                    <g transform="matrix(2,0,0,2,-261.808,-1931.55)">
                      <clipPath id="_clip1">
                        <rect x="130.889" y="965.773" width="36" height="25.5"
                        ></rect>
                      </clipPath>
                      <g clip-path="url(#_clip1)">
                        <g
                          transform="matrix(1.28965,0,0,-1.28965,128.324,987.632)">
                          <path
                            d="M14.167,6.622C14.43,6.42 14.718,6.266 15.031,6.16C15.345,6.053 15.667,6 15.998,6C16.329,6 16.651,6.053 16.965,6.16C17.278,6.266 17.566,6.42 17.829,6.622L29.449,15.676C29.169,16.075 28.813,16.387 28.38,16.612C27.948,16.837 27.488,16.95 27,16.95L5,16.95C4.483,16.949 3.998,16.822 3.546,16.569C3.095,16.316 2.733,15.97 2.461,15.53L14.167,6.622Z"
                            style="fill:rgb(232,235,239);fill-rule:nonzero;"
                          ></path>
                        </g>
                        <g
                          transform="matrix(1.28965,0,0,-1.28965,128.324,1003.67)">
                          <path
                            d="M19.054,17.472C18.617,17.136 18.137,16.879 17.615,16.702C17.092,16.525 16.556,16.436 16.004,16.436C15.453,16.436 14.916,16.525 14.393,16.702C13.871,16.879 13.391,17.136 12.954,17.472L2,25.802L2,12.385C2,11.987 2.076,11.604 2.228,11.237C2.381,10.869 2.597,10.545 2.879,10.264C3.16,9.982 3.484,9.766 3.852,9.613C4.219,9.461 4.602,9.385 5,9.385L27,9.385C27.398,9.385 27.781,9.461 28.148,9.613C28.516,9.766 28.84,9.982 29.121,10.264C29.403,10.545 29.619,10.869 29.772,11.237C29.924,11.604 30,11.987 30,12.385L30,26L19.054,17.472Z"
                            style="fill:rgb(232,235,239);fill-rule:nonzero;"
                          ></path>
                        </g>
                      </g>
                    </g>
                  </svg>
                </div>
                <div class="inline-block align-middle overflow-hidden">
                  <p
                    class="uppercase tracking-wide text-smemint-700 dark:text-smemint-600 text-sm font-semibold">
                    Email us
                  </p>
                  <a
                    class="text-lg bold text-smenavy-600 dark:text-smenavy-100 md:select-all"
                    href="mailto:info@smesolicitors.co.uk"
                    >info@smesolicitors.co.uk</a
                  >
                </div>
              </li>
            </div>

            <div
              class="border-b-2 border-smemint-500 dark:border-smenavy-600 p-4">
              <li class="flex">
                <div
                  class="rounded-full align-middle text-center bg-smenavy-500 dark:bg-smenavy-500 p-3 mr-3 w-fit h-fit">
                  <svg
                    class="w-6 h-6"
                    viewBox="0 0 66 66"
                    version="1.1"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    xml:space="preserve"
                    style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
                    <g
                      transform="matrix(2.85469,0,0,-2.85469,-11.4187,79.2282)">
                      <path
                        d="M21.225,12.865C20.819,13.103 20.32,13.098 19.916,12.858L17.87,11.639C17.412,11.366 16.84,11.398 16.42,11.726C15.694,12.293 14.525,13.247 13.508,14.264C12.491,15.281 11.537,16.45 10.97,17.176C10.642,17.596 10.61,18.168 10.883,18.626L12.102,20.672C12.343,21.076 12.345,21.579 12.107,21.985L9.105,27.113C8.814,27.609 8.236,27.853 7.677,27.716C7.134,27.584 6.429,27.262 5.69,26.522C3.376,24.208 2.147,20.305 10.849,11.603C19.551,2.901 23.453,4.129 25.768,6.444C26.509,7.185 26.83,7.891 26.963,8.435C27.098,8.993 26.858,9.567 26.363,9.857C25.127,10.58 22.461,12.141 21.225,12.865Z"
                        style="fill:rgb(232,235,239);fill-rule:nonzero;"></path>
                    </g>
                  </svg>
                </div>
                <div class="inline-block align-middle overflow-hidden">
                  <p
                    class="uppercase tracking-wide text-smemint-700 dark:text-smemint-600 text-sm font-semibold">
                    Call us
                  </p>
                  <a
                    class="text-lg bold text-smenavy-600 dark:text-smenavy-100 md:select-all"
                    href="tel:+441905723561">01905 723561</a
                  >
                </div>
              </li>
            </div>
            <div class="p-4">
              <li class="flex">
                <div
                  class="rounded-full align-middle text-center bg-smenavy-500 dark:bg-smenavy-500 p-3 mr-3 w-fit h-fit">
                  <svg
                    class="w-6 h-6"
                    viewBox="0 0 66 66"
                    version="1.1"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    xml:space="preserve"
                    style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
                    <g
                      transform="matrix(2.85469,0,0,-2.85469,-11.4187,79.2282)">
                      <path
                        d="M21.225,12.865C20.819,13.103 20.32,13.098 19.916,12.858L17.87,11.639C17.412,11.366 16.84,11.398 16.42,11.726C15.694,12.293 14.525,13.247 13.508,14.264C12.491,15.281 11.537,16.45 10.97,17.176C10.642,17.596 10.61,18.168 10.883,18.626L12.102,20.672C12.343,21.076 12.345,21.579 12.107,21.985L9.105,27.113C8.814,27.609 8.236,27.853 7.677,27.716C7.134,27.584 6.429,27.262 5.69,26.522C3.376,24.208 2.147,20.305 10.849,11.603C19.551,2.901 23.453,4.129 25.768,6.444C26.509,7.185 26.83,7.891 26.963,8.435C27.098,8.993 26.858,9.567 26.363,9.857C25.127,10.58 22.461,12.141 21.225,12.865Z"
                        style="fill:rgb(232,235,239);fill-rule:nonzero;"></path>
                    </g>
                  </svg>
                </div>
                <div class="inline-block align-middle overflow-hidden">
                  <p
                    class="uppercase tracking-wide text-smemint-700 dark:text-smemint-600 text-sm font-semibold">
                    Visit our website
                  </p>
                  <a
                    class="text-lg bold text-smenavy-600 dark:text-smenavy-100 md:select-all"
                    href="https://www.smesolicitors.co.uk/">www.smesolicitors.co.uk</a
                  >
                </div>
              </li>
            </div>
          </ul>
        </div>

        <!-- Links Section -->
        <div
          class="bg-smenavy-500 md:w-full w-screen p-2 md:rounded-b-xl rounded-b-none text-center">
          <p class="font-medium text-smenavy-50 font-generalSans">
            <a href="https://www.smesolicitors.co.uk">www.smesolicitors.co.uk</a
            >
          </p>
        </div>
      </div>
    </div>
  </section>
</body>
