---
const {
  pageTitle,
} = Astro.props;

import '../assets/base.css';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle} | SME Solicitors</title>

    <!-- Favicons -->
    <link rel="icon" type="image/png" href="../assets/favicons/favicon-48x48.png" sizes="48x48" />
    <link rel="icon" type="image/svg+xml" href="../assets/favicons/favicon.svg" />
    <link rel="shortcut icon" href="../assets/favicons/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/favicons/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="SME" />
    <link rel="manifest" href="../assets/favicons/site.webmanifest" />
  </head>
  <body
    class="bg-white md:bg-blue-50 md:min-h-screen h-auto flex md:justify-center md:items-center md:p-4 font-inter">
    <slot />
  </body>

  <style>
    html,
    body {
      margin: 0;
      width: 100%;
      height: 100%;
    }
  </style>
</html>
